@use '../scss/mixins';

.profile{
  @include mixins.container();
  padding: 50px;

  &__row{
    @include mixins.row(50px);
    justify-content: center;
  }
  &__btn{
    margin: 0 10px;
    @include mixins.btn(#FD4184);
    color: #FD4184;
    &_history{
      @include mixins.btn(#fff);
      color: #fff;
    }
  }
}
.card{
  padding: 15px 10px;
  width: 350px;
  min-height: 200px;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: 0.4s;
  &:hover{
    border: 1px solid #FD4184;
  }
  &__container{
    margin-top: 30px;
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
  }
  &__top{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__rate{
    height: min-content;
    width: min-content;
    display: flex;
    align-items: center;
    @include mixins.text(#fff, 20px, 700)
  }
  &__header{
    @include mixins.text(#fff, 25px, 600);
  }
  &__text{
    @include mixins.text(#fff, 15px, 300);
  }
  &__description{
    width: 100%;
    min-height: 50px;
  }
  &__row{
    margin: 10px 0;
    @include mixins.row(30px);
    justify-content: space-between;
  }
  &__runBtn{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    @include mixins.center();
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
      font-size: 12px;
    }
  }
}